<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hapus pilot</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div th:if="${nip != null}">
    <div class="jumbotron w-75 mx-auto text-center" style="background-color: #ffffff;">
        <h1 class="text-center font-weight-bold" th:text="'Pilot dengan NIP '+ ${nip}+' berhasil dihapus.'"></h1>
        <a class="text-center" th:href="@{/pilot}">Kembali ke Daftar Pilot</a>
    </div>
</div>
<div th:unless="${nip != null}">
    <div class="jumbotron w-75 mx-auto text-center" style="background-color: #ffffff;">
        <h1 class="text-center font-weight-bold" th:text="${msg}"></h1>
        <a class="text-center" th:href="@{/pilot}">Kembali ke Daftar Pilot</a>
    </div>
</div>
</body>
</html>