<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Penerbangan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<div>
    <div class="mx-auto col-lg-5">
        <div class="card-header col-lg-auto text-white font-weight-bold text-center" style="background-color: #001B36">
            Tambah Penerbangan
        </div>
        <br>
        <div class="col-lg-auto">
            <form th:action="@{/penerbangan/tambah}" th:objects="${penerbangan}" method="POST">
                <div class="form-group">
                    <label>Kode</label>
                    <input type="text" class="form-control" placeholder="Masukkan kode penerbangan" th:field="${penerbangan.kode}" required/>
                </div>
                <div class="form-group">
                    <label>Kota Asal</label>
                    <input type="text" class="form-control" placeholder="E.g. Surabaya" th:field="${penerbangan.kotaAsal}" required/>
                </div>
                <div class="form-group">
                    <label>Kota Tujuan</label>
                    <input type="text" class="form-control" placeholder="E.g. Jakarta" th:field="${penerbangan.kotaTujuan}" required/>
                </div>
                <div class="form-group">
                    <label>Waktu</label>
                    <input type="datetime-local" class="form-control" th:field="${penerbangan.waktu}" required/>
                </div>

                <div align="right">
                    <a class="btn btn-dark font-weight-bold" style="background-color: #ffffff; color: #001B36;" th:href="@{/penerbangan}" role="button">Batal</a>
                    <button type="submit" class="btn btn-dark font-weight-bold" style="background-color: #001B36;">Tambah</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<br>
</body>
</html>