<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Pilot</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
        <div class="mx-auto col-lg-5">
            <div class="card-header col-lg-auto text-white font-weight-bold text-center" style="background-color: #001B36">
                Tambah Pilot
            </div>
            <br>
            <div class="col-lg-auto">
                <form th:action="@{/pilot/tambah}" th:objects="${pilot}" method="POST">
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" placeholder="Masukkan nama Anda" th:field="${pilot.nama}" required/>
                    </div>
                    <div class="form-group">
                        <label>Nik</label>
                        <input type="text" class="form-control" placeholder="Masukkan Nik Anda" th:field="${pilot.nik}" required/>
                    </div>
                    <div class="form-group">
                        <label>Tempat Lahir</label>
                        <input type="text" class="form-control" placeholder="E.g. Jakarta" th:field="${pilot.tempatLahir}" required/>
                    </div>
                    <div class="form-group">
                        <label>Tanggal Lahir</label>
                        <input type="date" class="form-control" th:field="${pilot.tanggalLahir}" required/>
                    </div>
                    <div class="form-group">
                        <label>Jenis Kelamin</label>
                        <select class="form-control" th:field="${pilot.jenisKelamin}" required>
                            <option value="">--Pilih Jenis Kelamin--</option>
                            <option value="1">Laki-laki</option>
                            <option value="2">Perempuan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Sekolah</label>
                        <select class="form-control" th:field="${pilot.akademi}" required>
                            <option value="">--Pilih Nama Sekolah--</option>
                            <option th:each="sekolah : *{akademiList}" th:text="${sekolah.nama}" th:value="${sekolah.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Maskapai</label>
                        <select class="form-control" th:field="${pilot.maskapai}" required>
                            <option value="">--Pilih Nama Akademi--</option>
                            <option th:each="maskapai : *{maskapaiList}" th:text="${maskapai.nama}" th:value="${maskapai.id}"></option>
                        </select>
                    </div>
                    <div align="right">
                        <a class="btn btn-dark font-weight-bold" style="background-color: #ffffff; color: #001B36;" th:href="@{/pilot}" role="button">Batal</a>
                        <button type="submit" class="btn btn-dark font-weight-bold" style="background-color: #001B36;">Tambah</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
<br>
</body>
</html>