<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Form Tambah Pilot</title>
</head>
<body>
<h3>Tambah Pilot</h3>
<form th:action="@{/pilot/tambah}" th:objects="${pilot}" method="POST">
    Nama : <br>
    <input type="text" th:field="${pilot.nama}"/>
    <br><br>
    Nik: <br>
    <input type="text" th:field="${pilot.nik}"/>
    <br><br>
    Tempat Lahir: <br>
    <input type="text" th:field="${pilot.tempatLahir}"/>
    <br><br>
    Tanggal Lahir: <br>
    <input type="date" th:field="${pilot.tanggalLahir}"/>
    <br><br>
    Jenis Kelamin: <br>
    <select th:field="${pilot.jenisKelamin}">
        <option value="1">Laki-laki</option>
        <option value="2">Perempuan</option>
    </select>
    <br><br>
    Sekolah: <br>
    <select th:field="${pilot.akademi}">
        <option th:each="sekolah : *{akademiList}" th:text="${sekolah.nama}" th:value="${sekolah.id}"></option>
    </select>
    <br><br>
    Maskapai: <br>
    <select th:field="${pilot.maskapai}">
        <option th:each="maskapai : *{maskapaiList}" th:text="${maskapai.nama}" th:value="${maskapai.id}"></option>
    </select>
    <br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>